.heading_main {
    @apply  text-4xl h-max text-complimentary-200; 
    font-family: 'P22MackinacPro';
    letter-spacing: -0.05rem;
    line-height: 3rem;
    font-weight: bolder;
    background-image: linear-gradient(0deg, var(--complimentary-900) 30%, var(--complimentary-500));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    

    @screen sm {
        @apply text-5xl;
    }
    @screen lg {
        @apply text-7xl h-28;
    }
    

}
.heading_sub {
    @apply text-base opacity-70 break-words text-main-200;
    font-family: 'P22MackinacPro';
    line-height: 2.3rem;
    font-weight: bold;

    @screen sm {
        @apply text-2xl
    }
    @screen md {
        @apply text-3xl
    }
}

.heading_section,
.code_heading {
    @apply text-xl text-main-200 break-words;

    @screen sm {
        @apply text-2xl
    }
}

.code_heading {
    @apply text-base;
    font-weight: 500;    
}

.section_subheading {
    @apply text-base text-main-200 font-semibold;
    line-height: 2rem;   
    
    @screen sm {
        @apply text-4xl;
        line-height: 2.8rem;
    }
}
.main {
    @apply text-main-500;
}
.additional {
    @apply text-additional-500
}
.secondary {
    @apply text-secondary-500;
}
.complimentary {
    @apply text-complimentary-200;
}