
.button_main,
.button_refer,
.dialog {
    @apply py-1.5 px-5 transition-all duration-200;
}

.button_main {
    @apply rounded-md text-tiny px-5 text-main-200 bg-complimentary-600 relative;
    font-weight: 600;
    background: linear-gradient(180deg, var(--complimentary-500), var(--complimentary-900));

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 .15rem 1rem rgba(255, 255, 255, 0.3);
        }
    }  
    &:focus-visible {
        @apply border border-secondary-600;
    } 

    @screen md {
        @apply text-xs;
    }

    &:disabled {
        @apply text-main-200 bg-main-500 opacity-60;
    }   
}

.button_refer {
    
    @apply  text-main-200 font-bold bg-transparent flex gap-2 items-center
    border-2 border-complimentary-500 rounded-md;

    >svg {
        @apply w-2 h-5 transition-all duration-200;
        object-fit: fill;
    }
    @media (hover: hover) {
        &:hover {           
            @apply border-main-200;
            >svg {
                @apply w-5 h-5;
            }
        }
    }
    &:focus-visible {
        @apply border-main-200;
            >svg {
                @apply w-5 h-5;
            }
    }

}

.loading {
    @apply animate-pulse;
}

.hamburger {
    @apply flex flex-col text-main-200;
    gap: .25rem;

    >span {
        @apply w-6 bg-main-200 rounded-sm transition-all duration-200;
        height: 2px;

    }
    &:focus-visible {
        >span {
            @apply bg-secondary-600;
        }
    }
    

}

.hamburger_active {

    >span:first-child {
        @apply bg-complimentary-200;
        transform: rotate(-30deg);
        transform-origin: bottom right;

        }
    >span:nth-child(2) {
        @apply opacity-0;
        }
    >span:last-child {
        transform: rotate(30deg);
        transform-origin: top right;
        }
  
}

.dialog {
    @apply py-1.5 px-5 font-bold text-main-600 bg-sky-200;

    @media (hover: hover) {
        @apply hover:bg-sky-300;
    }

    &:focus-visible {
        @apply bg-secondary-600;
    }

    &:disabled {
        @apply border bg-slate-400;
    }
    
}