.button_main {
    @apply py-1.5 rounded-md px-5 text-main-200 bg-complimentary-600 transition-all duration-200 relative;
    font-weight: 600;
    background: linear-gradient(180deg, var(--complimentary-500), var(--complimentary-900));

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 .15rem 1rem rgba(255, 255, 255, 0.3);
        }
    }  
    &:focus {
        box-shadow: 0 .15rem 1rem rgba(255, 255, 255, 0.3);
    } 

    @screen md {
        @apply text-sm;
    }

    &:disabled {
        @apply text-main-200 bg-main-500 opacity-60;
    }   
}

.button_link {
    @apply py-1.5 px-5 text-main-200 bg-transparent transition-all duration-200 relative;

    @media (hover: hover) {
        &:hover {           
            box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
            filter: blur(5px);
        }
    }
    &:focus {           
        box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
        filter: blur(5px);
    }
}

.button_refer {
    
    @apply py-1.5 px-5 text-main-200 font-bold bg-transparent transition-all duration-200 flex gap-2 items-center
    border-2 border-complimentary-500 rounded-md;

    >svg {
        @apply w-2 h-5 transition-all duration-200;
        object-fit: fill;
    }
    @media (hover: hover) {
        &:hover {           
            @apply border-main-200;
            >svg {
                @apply w-5 h-5;
            }
        }
    }
    &:focus {
        @apply border-main-200;
            >svg {
                @apply w-5 h-5;
            }
    }

}