

.tab_wrapper {
    @apply text-main-200 border-t border-gray-700 rounded-t-md bg-main-900 
    flex items-center justify-center py-1 px-3 select-none;
    >h3 {
        @apply text-sm opacity-90;
        font-weight: 200;
       
    }
}

.const_wrapper {
    @apply text-main-200 flex gap-3 text-tiny;
}

.syntax {
    @apply text-syntax-highlight italic;
    font-weight: lighter
}
.keyword {
    @apply text-syntax-keyword;
}

.string {
    @apply text-syntax-string;
}

.default {
    @apply text-main-200;
}

.code_line_wrapper {
    @apply flex flex-nowrap gap-3;
    font-family: 'OperatorMono';

    >.num {
        @apply w-5 text-main-200 opacity-30 text-tiny;
        font-weight: lighter;
    }
}

.func_name {
    @apply text-additional-200 italic font-light;
    font-style: normal;
}

.arg {
    @apply text-syntax-arg;

}