

.list_wrapper {
    @apply flex flex-wrap gap-2 items-center justify-center relative;
    top: -2.5rem;
    transform: rotate(-10deg);

}

.card_wrapper {
    @apply bg-box-bg border-2 flex flex-col items-center select-none
    justify-center text-main-200 border-gray-700 rounded-md py-4 px-6 w-20 h-40;
   

    flex-basis: calc(100% / 4);
    
    >h2 {
        @apply font-bold text-center my-4;
    }
    .img_container {
        @apply w-12 h-12 overflow-hidden rounded-md;
    }
}

