

.list_wrapper {
    @apply flex flex-wrap gap-2 mx-auto items-center justify-start relative;
    top: -2.5rem;
    transform: rotate(-10deg);
    height: 380px;
    width: 480px;

    @screen md {
        @apply h-full justify-center;
    }
}

.card_wrapper {
    @apply bg-box-bg border-2 flex flex-col items-center select-none touch-none
    justify-center text-main-200 border-gray-700 rounded-md py-4 px-6 w-20 h-40;
   

    flex-basis: calc(100% / 4);
    
    >h2 {
        @apply font-bold text-center my-4;
    }
    .img_container {
        @apply w-10 h-10 overflow-hidden rounded-md;

    
    }
}

