@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'P22MackinacPro';
  src: local('assets'), url(./assets/fonts/Mackinac/P22MackinacPro-Book_25.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'P22MackinacPro';
  src: local('assets'), url(./assets/fonts/Mackinac/P22MackinacPro-Medium_26.otf) format('opentype');

  font-weight: normal;
}
@font-face {
  font-family: 'P22MackinacPro';
  src: local('assets'), url(./assets/fonts/Mackinac/P22MackinacPro-Bold_16.otf) format('opentype');

  font-weight: bold;
}
@font-face {
  font-family: 'P22MackinacPro';
  src: local('assets'), url(./assets/fonts/Mackinac/P22MackinacPro-ExtraBold_12.otf) format('opentype');

  font-weight: bolder;
}
@font-face {
  font-family: 'OperatorMono';
  src: local('assets'), url(./assets/fonts/OperatorMono/OperatorMono-Light.otf) format('opentype');

  font-weight: lighter;
}
@font-face {
  font-family: 'OperatorMono';
  src: local('assets'), url(./assets/fonts/OperatorMono/OperatorMono-LightItalic.otf) format('opentype');

  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'OperatorMono';
  src: local('assets'), url(./assets/fonts/OperatorMono/OperatorMono-Medium.otf) format('opentype');

  font-weight: normal;
}
@font-face {
  font-family: 'OperatorMono';
  src: local('assets'), url(./assets/fonts/OperatorMono/OperatorMono-MediumItalic.otf) format('opentype');

  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'OperatorMono';
  src: local('assets'), url(./assets/fonts/OperatorMono/OperatorMono-Bold.otf) format('opentype');

  font-weight: bold;
}
@font-face {
  font-family: 'OperatorMono';
  src: local('assets'), url(./assets/fonts/OperatorMono/OperatorMono-BoldItalic.otf) format('opentype');

  font-weight: bold;
  font-style: italic;
}


*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

html {
  line-height: 1.3rem;  
  letter-spacing: .05rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  tab-size: 2;
  font-weight: 375;
  letter-spacing: -0.005em;
  scroll-behavior: smooth;
  
}


body {
  @apply bg-main-900;
}

:root {
  --main-900: #0d1117;
  --main-800:#141a24;
  --main-700: #1b2430;
  --main-600: #222d3d;
  --main-500: #293649;
  --main-200: #ffffff;
  

  --additional-900: #2ea043;
  --additional-800: #26a83e;
  --additional-700: #1eb039;
  --additional-600: #41c85a;
  --additional-500: #50cd67;
  --additional-200: #5fd174;

  --complimentary-900: #7028eb;
  --complimentary-800: #7c3aed;
  --complimentary-700: #884cef;
  --complimentary-600: #945ef0;
  --complimentary-500: #a070f2;
  --complimentary-200: #c4a6f7;

  --secondary-900: #ec6547; 
  --secondary-800: #ee7459; 
  --secondary-700: #f0836b; 
  --secondary-600: #f2927c; 
  --secondary-500: #f3a18e; 
  --secondary-200: #f7beb2; 

  --box-bg: #171c23d6;
  --syntax-highlight: #66d9ef;
  --syntax-func: #a6e231;
  --syntax-keyword: #f92649;
  --syntax-arg: #fd8c2b;
  --syntax-string: #e6db74;
}

a {
  appearance: none;
  text-decoration: none;
  outline: none;
}

input, button {
  outline: none;
  appearance: none;
}
a:focus-visible, 
button:focus-visible {

}

