

.rotated_wrapper {
    @apply bg-transparent overflow-hidden rounded-lg p-5 animate-scaleIn;
    max-width: 38rem;
    max-height: 28rem;
    perspective: 1000px;
    >img {
        transform: rotateY(-10deg);
    }
}

.img_element {
    @apply object-contain;
}


.animated_wrapper {
    @apply  animate-float;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 8s;   
    width: 10rem;
    height: 8rem;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
    @screen sm {
        width: 12rem;
        height: 10rem;
    }
    @screen md {
        width: 16rem;
        height: 14rem;
    }
    @screen lg {
        width: 22rem;
        height: 16rem;
    }
}